body{
    overflow: hidden;
}
#ad_parti_dynamique{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    width: 35%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1vh;
  }
  #ins_parti_dynamique{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    width: 60%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1vh;
    margin-left: 40vh;
  }
  #creer_compt{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2vh;
  }
  .containeur{
      display: flex;
      justify-content: center;
      align-content: center;
      border-radius: 1vh;
      width: 100%;
      height: 100%;
  }
  .img_ins_avatar{
        display: flex;
        justify-content: center; 
        width: 30vh;
        height: 30vh;
        border: 0.75vh solid rgb(22, 192, 214);
        border-radius: 25vh; 
  }
  .text_avatar_ins{
      display: flex;
      padding-top: 2vh;
  }
  .formul{
      display: inline-block;
      justify-content: center;
      flex: 3;
      width: 28vh;
      border-radius: 1vh;
  }
  .avatar_ins{
      height: 45vh;
      width: 30vh;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 10vh;
  }
  .head_text_ins{
      height: 10.5vh;
      padding-left: 5vh;
      padding-top: 1vh;
      font-size: 4.5vh;
      font-family: sans-serif;
  }
  .text_inscrire{
      color: rgb(83, 82, 82);
      font-weight: bold;
  }
  .file_avatar{
      margin-top: 2vh;
      margin-left: 5vh;
  }
  #submit_ins{
    background-color: #319fb3;
    color: white;
    padding: 1vh 2vh;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    width: 25%;
  }
  .file_avatar{
    background-color: #319fb3;
    color: white;
    border: 0.5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.5vh;
    font-weight: bold;
    font-size: 2vh;
  }
  .file_avat{
      display: none;
  }      
  
  .form_div_file{
      display: flex;
      width: 60vh;
  }
  .hr_head_ins{
    width: 65vh;
    margin-top: 2.5vh;
    margin-right: 7vh;
    
  }
  .text_head_ins{
    color: rgb(151, 148, 148);
    visibility: visible;
    font-size: 2vh;
  }
  .con_ins_ad{
    width: 55vh;
    height: 6vh;
    padding: 12px 20px;
    margin-left: 5vh;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1vh;
    color: rgb(116, 115, 115);
    background-color: rgba(255, 250, 250, 0.993);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  .con_ins_j{
    width: 60vh;
    height: 7vh;
    padding: 12px 20px;
    margin-left: 5vh;
    margin-top: 0.75vh;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1vh;
    font-size: 3vh;
    color: rgb(116, 115, 115);
    background-color: rgba(255, 250, 250, 0.993);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  .label_ins{
      font-size: small;
      margin-left: 5vh;
      margin-top: 0.75vh;
      font-family: sans-serif;
      flex: 2;
  }
  small{
      visibility: hidden;
  }
