body{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#container{
    width:75vh;
    margin:0 auto;
    margin-top:10%;
    display: flex;
    flex-direction: column;
}
/* Bordered form */
.con_form{
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: rgb(243, 235, 235);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/*style de la page de connexion logform*/
#con_header_log_form{
    background-color: rgb(6, 130, 146);
    display: flex;
    color: white;
    font-size: medium;
    padding: 3vh 3vh ;
    justify-content: space-between;
    font-weight: bold;
}
.logform{
    background-color: rgb(69, 197, 230);
}
/* Full-width inputs */
#con_log {
    width: 100%;
    height: 10vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1vh;
    background-color: rgba(238, 235, 235, 0.993);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
#affichpwd{
    cursor: pointer;
}
#maskpwd{
    cursor: pointer;
    display: none;
}
#con_log,select{
    border:solid 1px #AAAAAA;
    padding:10px;
    font:15pt verdana;
    color: rgb(6, 130, 146);
    outline:none;
    border-radius:6px;
}
input:focus{
    border-color: red;
}
#con_pwd {
    width: 100%;
    height: 10vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1vh;
    background-color: rgba(238, 235, 235, 0.993);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
#con_pwd{
    border:solid 1px #AAAAAA;
    padding:10px;
    font:15pt verdana;
    color: rgb(6, 130, 146);
    outline:none;
    border-radius:6px;
}
#con_icone{
    max-width: 10vh;
    max-height: 12vh;
    margin-left: 2vh;
}
#con_header{
    background-color: rgb(0, 14, 6);
    margin: 0;
    color: white;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 2vh;
    font-style: italic;
}
#con_txt_header_prin{
    text-align: center;
    flex: 2;
}
.img_con{
    height: 4vh;
    width: 4vh;
    position: absolute;
    left: 58vh;
    top: 4vh;
}
/*input de connexion*/
.con_input{
    display: flex;
    justify-content: space-around;
    position: relative;
}
#sign_in{
    text-decoration: none;
    color: gray;
    margin-left: 3vh;
    font-size: 2vh;
    font-weight: bold;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub_sign{
    display: flex;
}
#con_submit{
    background-color: #319fb3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    width: 25%;
}
#con_submit:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
form-control_error{
    color: red;
    font-style: italic;
}
form-control_success{
    color: red;
    font-style: italic;
}
