body{
    background-image: url(/projet_Quizz/public/img/background.png);
}

#menu_accueil{
  display: flex;
  background-color: rgba(241, 236, 236, 0.856);
  flex-direction: column;
  font-size:1em;
  font-family: Arial,sans-serif;
}
#acc_menu{
  flex: 1;
  background-color: white;
  border-radius: 5vh;
  margin-right: 5vh;
  box-shadow: 7px 2px 7px rgba(49, 49, 49, 0.5);
  display: flex;
  flex-direction: column;
  height: auto;
}
#acc_avatar{
  display: flex;
  background:linear-gradient(white,rgb(43, 171, 221)) ;
  border-radius: 1vh;
}
h3{
  color: white;
}
.h2list{
  font-style: italic;
  color: rgb(175, 168, 168);
}
#acc_body{
  display: flex;
  height: 68vh;
  padding: 5vh;
  background-color: rgb(240, 233, 233);
}
.img_acc_avatar{
  width: 15vh;
  height: 15vh;
  border-radius: 25vh;
  margin-right: 1vh;
  
}
#acc_menu_content{
  background-color: rgb(212, 200, 30);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#menu{
  background-color: #fff;
  flex: 2;
  height: 8vh;
  border-radius: 2vh;
}
a{
  display: block;
  text-decoration: none;
}
.img_acc{
  width: 4vh;
  height: 4vh;
}
#acc_icone{
  display: flex;
  justify-content: flex-end;
  flex: 10;
  margin-right: 4vh;
}
li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5vh;
  height: 9vh;
  border-top:1px solid #fff;
}
li:hover{
  border-left: 0.75vh solid green;
  background-color: lightgray;
}
.active{
  color: rgb(61, 60, 60);
}
.active_decon{
  color: white;
  background-color: turquoise;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
  width: 50%;
  padding-left: 5.5vh;
  border-radius: 1vh;
  padding-top: 1.6vh;
  font-weight: bold;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width:500px;
  }
#acc_header{
  display: flex;
  margin-top: 1vh;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(42, 201, 230);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#acc_text{
  text-align: center;
  flex: 8;
}
.avatar{
  margin: 4.5vh;
}
.avatar_text{

  display: flex;
  align-items: center;
}
#acc_btn_decon{
  height: 6vh;
  flex: 2;
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
}
#acc_btn{
  font-size: 2.25vh;
  width: 20vh;
  background-color: turquoise;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#acc_parti_dynamique{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  width: 40%;
}

#div_btn_suiv{
  width: 60vh;
  height: 6vh;
  flex: 4;
  display: flex;
  justify-content: flex-end;
  margin-top: 2vh;
}
#btn_suivant{
  color: white;
  background-color: turquoise;
  width: 20%;
  border: 0;
  font-size: 2.5vh;
  border-radius: 1vh;
}